
* {
    margin: 0;
    padding: 0;
}



body {
    background-color: rgb(156, 154, 154);
}
#search {
    background-color: floralwhite;
    color: black;
    margin-top: 1rem;
}

#main_head {
    background-color: #400606;
    text-align: center;
    color: white;
    height: 110px;
    box-shadow: 1px 1px 15px rgb(77, 77, 77);
    position: sticky;
    top: 0px;
    z-index: 5;
    margin: auto;
    text-align: center;
}

.section2 {
    background-color: rgb(225, 225, 225);
    margin: 2rem auto;
    margin-top: 7rem;
    height: 100%;
    box-shadow: 1px 1px 15px rgb(77, 77, 77);
}



.section1 {
    background-color: rgb(225, 225, 225);
    max-width: 30rem;
    margin: 2rem auto;
    margin-top: 7rem;
    height: 100%;
    box-shadow: 1px 1px 15px rgb(77, 77, 77);
}




/* -----------------add clint-------------------- */


.form-control, .custom-select {
    width: auto !important;
    border: none !important;
    border-bottom: 2px solid#ccc !important;
    background-color: rgb(225, 225, 225) !important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: none !important;
    border-style: none !important;
    border-width: none !important;
}


small {
    font-size: 0.7em !important;
}

#heading {
    background-color: #5F1919;
    height: 65px;
    color: bisque;
}

#text1 {
    padding: 1rem;
    text-align: center;
}

.btn-danger {
    color: #fff;
    background-color: #5F1919 !important;
    border-color: #5F1919 !important;
    
}


