{% extends 'index.html'%}
{% block url_title%} Done Table{% endblock %}
{% block search%}
<a href={% url 'index' %} class="btn btn-danger">Home</a>
<form method="get">
    {{myFilter.form}}
    <button class="btn btn-danger" type="submit">Search</button>
</form>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..." title="Type in a name">
{% endblock %}
{% block table%}
<table class="table table-striped" id="myTable">
    <thead>
        <tr>
            <th scope="col">Group Name</th>
            <th scope="col">Agent</th>
            <th scope="col">Exam code</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Comment</th>
            <th scope="col">System Id</th>
            <th scope="col">Stastus</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody class="table-striped">
        {% for r in result %}
        <tr>
            <td scope="row">{{ r.GROUP_NAME }}</td>
            <td>{{ r.AGENT }}</td>
            <td>{{ r.EXAM_CODE }}</td>
            <td>{{ r.DATE }}</td>
            <td>{{ r.TIME }}</td>
            <td>{{ r.COMMENT }}</td>
            <td>{{ r.EXAM_ID }}</td>
            <td>{{ r.STASTUS }}</td>
            <th><a href="delete_done/{{r.id}}" class="btn btn-danger" onclick="checker()">Delete</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
