{% extends 'index.html'%}
{% block url_title%} Employee table{% endblock %}
{% block search%}
<input type="button" value="GoBack" onclick="Previous()" class="btn btn-danger">
<form method="get">
    {{myFilter.form}}
    <button class="btn btn-danger" type="submit">Search</button>
</form>
{% endblock %}
{% block table%}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">EMP ID</th>
            <th scope="col">EMP NAME</th>
            <th scope="col">CREATE DATE</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody class="table-striped">
        {% for i in result %}
        <tr>
            <td>{{i.EMP_ID}}</td>
            <td>{{i.EMP_NAME}}</td>
            <td>{{i.DOJ}}</td>
            <td><a href="delete_emp/{{i.user_id}}" class="btn btn-danger" onclick="checker()">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}