{% extends 'index.html'%}
{% block url_title%}Table Page {% endblock %}
{% block search%}
<a href={% url 'index' %} class="btn btn-danger">Home</a>
<form method="get">
    {{myFilter.form}}
    <button class="btn btn-danger" type="submit">Search</button>
</form>
{% endblock %}
{% block back%}

{% endblock %}
{% block table%}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Group Name</th>
            <th scope="col">Agent</th>
            <th scope="col">Exam code</th>
            <th scope="col">date</th>
            <th scope="col">time</th>
            <th scope="col">Comment</th>
            <th scope="col">Stastus</th>
            <th scope="col"></th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody class="table-striped">
        {% for r in result %}
        {% if r.STASTUS == "took" %}
        <tr>
            <th scope="row">{{ r.GROUP_NAME }}</th>
            <td>{{ r.AGENT }}</td>
            <td>{{ r.EXAM_CODE }}</td>
            <td>{{ r.DATE }}</td>
            <td>{{ r.TIME }}</td>
            <td>{{ r.COMMENT }}</td>
            <td>
                <form class="form" role="form" method="POST" enctype="multipart/form-data" action="took/{{r.id}}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="checker()">Took</button>
                </form>
            </td>
            <td></td>
            <td><a href="editepage/{{r.id}}" class="btn btn-danger" onclick="checker()">Edit</a></td>
            <td><a href="delete/{{r.id}}" class="btn btn-danger" onclick="checker()">Delete</a></td>
        </tr>
        {% endif %}
        {% if r.STASTUS == "revoked" %}
        <tr>
            <th scope="row" class="bg-danger">{{ r.GROUP_NAME }}</th>
            <td class="bg-danger">{{ r.AGENT }}</td>
            <td class="bg-danger">{{ r.EXAM_CODE }}</td>
            <td class="bg-danger">{{ r.DATE }}</td>
            <td class="bg-danger">{{ r.TIME }}</td>
            <td class="bg-danger">{{ r.COMMENT }}</td>
            <td>
                <form class="form" role="form" method="POST" enctype="multipart/form-data" action="took/{{r.id}}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="checker()">Took</button>
                </form>
            </td>
            <td></td>
            <td><a href="editepage/{{r.id}}" class="btn btn-danger" onclick="checker()">Edit</a></td>
            <td><a href="delete/{{r.id}}" class="btn btn-danger" onclick="checker()">Delete</a></td>
        </tr>
        {% endif %}

        {% if r.STASTUS == "revoke" %}
        <tr>
            <th scope="row">{{ r.GROUP_NAME }}</th>
            <td>{{ r.AGENT }}</td>
            <td>{{ r.EXAM_CODE }}</td>
            <td>{{ r.DATE }}</td>
            <td>{{ r.TIME }}</td>
            <td>{{ r.COMMENT }}</td>
            <td>
                <form class="form" role="form" method="POST" enctype="multipart/form-data" action="revok/{{r.id}}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="checker()">Revoke</button>
                </form>
            </td>
            <td>
                <form class="form" role="form" method="POST" enctype="multipart/form-data" action="done/{{r.id}}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="checker()">Done</button>
                </form>
            </td>
            <td><a href="editepage/{{r.id}}" class="btn btn-danger" onclick="checker()">Edit</a></td>
            <td><a href="delete/{{r.id}}" class="btn btn-danger" onclick="checker()">Delete</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
